<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>对外援助统计数据直报平台	</title>
	<link href="../../css/welcome/welcome.css" rel="stylesheet">
	<script type="text/javascript" src="../../js/jquery.min_1.10.2.js"></script>
</head>
<body>
	<div class="box">
		<div class="top">
			<div class="top-left">
				<img src="../../img/login-img/icon_jiemian logo.png"/>对外援助统计数据直报平台
			</div>
			<div class="top-right">
				<!-- <img src="../../img/login-img/icon_help3.png">
				<img src="../../img/login-img/touxiang.png"> -->
				<div id="userName">
					<span id="fullname" th:text="${user.fullname}"></span>
					<a class="toBack" href="/public/logout">退出</a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="main-left">
				<img class="logo-img" src="../../img/login-img/logo.png"/>
				<ul class="main-box" id="mainBox">
				</ul>
			</div>
			<div class="main-right">
				<iframe name="iframe" id="iframe" src="" width="100%" height="100%" scrolling="auto"></iframe>
			</div>
		</div>
	</div>
</body>
<script>
    var mainNum = 0
    //if(sessionStorage.getItem('mainNum')){
        //mainNum = sessionStorage.getItem('mainNum')
    //}
    $(function () {
        $.ajax({
            url : "/sys/getMenuList",
            method : "post",
            data : {},
            dataType : "json",
            success : function(data) {
                if (data.resultcode = "200") {
                    var mainList = data.menuList;
                    var user = data.user;
                    // alert(user.fullname)
                    $('#mainBox').empty()
                    mainList.forEach(function(item,index){
                        if(index == mainNum){
                            $('#iframe').attr('src',item.menuUrl)
                            $('#mainBox').append('<li class="li-active" path="'+item.menuUrl+'"><img src="../../img/login-img/'+item.menuIcon+'pre.png"/>'+item.menuName+'</li>')
                        }else{
                            $('#mainBox').append('<li path="'+item.menuUrl+'"><img src="../../img/login-img/'+item.menuIcon+'nor.png"/>'+item.menuName+'</li>')
                        }
                    })
					$("#fullname").val(user.fullname)
                    // $('#userName').html('<span th:value="${user.fullname}"></span><a class="toBack" href="/public/logout">退出</a>')
                    $('.main').css({height:(window.innerHeight-72)+'px'})
                    $('#mainBox li').click(function(){
                        sessionStorage.setItem('mainNum',$(this).index())
                        $(this).addClass('li-active').siblings('li').removeClass('li-active')
                        $(this).children('img').attr('src',$(this).children('img').attr('src').replace('nor','pre'))
                        $(this).siblings('li').each(function(ind,item){
                            $(item).children('img').attr('src',$(item).children('img').attr('src').replace('pre','nor'))
                        })
                        $('#iframe').attr('src',$(this).attr('path'))
                    })
                }
            },
            error : function(data) {
                alert("服务器异常！");
            }
        });

    });

    // function getUserInfo(){
    //     $('#userName').html('王晓华<a class="toBack" href="/public/logout">退出</a>')
    // }
</script>
</html>